<div class="post-info">
    <div class="publish-info-block">
        <small>
            <span class="published">
                <i class="fa fa-calendar padding-small"></i><time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
            </span>
            <span class="category">
                <i class="fa fa-folder-open padding-small"></i><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            </span>
            {% if article.tags %}
            <span class="tags">
                <i class="fa fa-tags padding-small"></i>
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %} / {% endif %}
            {% endfor %}
            </span>
            {% endif %}
        </small>
    </div>
</div><!-- /.post-info -->
