{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block meta %}
    {% if article.author %}
        <meta name="author" content="{{ article.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}
    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
{% endblock %}

{% block collapse_latest %}in{% endblock %}

{% block content %}
<section id="content">
    <article>
        <div class="row">
            <div class="col-lg-9">
                <header class="page-header">
                    <h1>
                        <a href="{{ SITEURL }}/{{ article.url }}"
                           rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">
                            {{ article.title }}
                        </a>
                        <small>
                        {% include "include/article_info.html" %}
                        </small>
                    </h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="entry-content">
                    {{ article.content }}
                </div>
                <footer class="text-right">
                    <p>- {{article.author}}</p>
                </footer>
                {% include 'include/comments.html' %}
            </div>
            {% include 'include/toc.html' %}
        </div>
    </article>
</section>
{% endblock %}

{% block scripts %}
    {% include 'include/comments_scripts.html' %}
{% endblock %}
